%commonHoverIcon {

  p.tooltip {
    position: fixed !important;
    top: $height-90 !important;
  }

  &:hover {
    background-color: $main-color;

    p.tooltip {
      display: block;
    }
  }
}