%commonButtonActive {
  background-color: $main-color !important;
  border-color: $main-color !important;;
  border-radius: $border-6 !important;;
  box-shadow: 0 2px 0 rgba(175, 5, 255, 0.1) !important;;
  transition: all .3s !important;;
  color: $white-color !important;

  &:hover {
    background-color: $main-hover-color !important;;
    border-color: $main-hover-color !important;;
  }
}

%commonButtonActiveOutline {
  background: transparent !important;
  border-color: $main-color;
  color: $main-color !important;
  padding: 6px 12px 5px 12px;
  box-shadow: 0 2px 0 rgba(175, 5, 255, 0.1);
  transition: all .3s;

  &:hover {
    border-color: $main-hover-color;
    color: $main-hover-color !important;
  }
}
