$box-shadow-light: 0 2px 0 rgba(0, 0, 0, 0.045);
$bg-color: #001529;
$main-color: #1677FF;
$main-hover-color: lighten(#1677FF, 15%);
$bg-list-menu: #001529;
$white-color: #fff;
$background-color: #f2f2f2;
$disable-color: #f5f5f5;
$black-color: #000;
$transparent-black-color: #0000004f;
$light-gray-color: #e9e3e3;
$gray-color: #ccc;
$border-color: #dcdcdc;
$bg-light-gray-color: #ffffff;
$title-background: #f2f2f2;
$title-text: #242430;
$title-content-text: #76767e;
$upper-line-color: #393944;

$main-color-header: #2c2c3b;
$main-color-menu-bar: #333341;
$main-color-window-title: #686872;
$main-color-content-bg-dark: #1d1d21;
$main-color-content-bg-light: #ffffff;
$main-color-selected: #1677FF;
$sub-color-highlight: #ed1941;
$sub-color-popup-title: #383fae;
$sub-color-select-grid-cell: #b4b4f5;

